// Workspace Rules //
//
workspace "desktop" {
}
workspace "secondary" {
}
workspace "scratch" {
}

// Global Window Rules //
//
window-rule {
    geometry-corner-radius 20 // Set every window radius to 20
    clip-to-geometry true
}

window-rule {
  border {
    on
    width 3
    inactive-color "#003353"
    active-color "#322d3d"
  }
}


window-rule {
    geometry-corner-radius 15
    clip-to-geometry true
    draw-border-with-background false
    background-effect {
        blur true
        xray false
    }
}
window-rule {
    match is-focused=true
    background-effect {
        blur true
        xray false
    }
}

//window-rule {
//  match is-focused=false
//
//  border {
//    on
//    width 3
//    inactive-color "#5b46b9"
//    }
//}


// Noctalia GUI Window Rules //
//
window-rule {
    match app-id="dev.noctalia.Noctalia"
    open-floating true
    default-column-width { fixed 1080; }
    default-window-height { fixed 920; }

}

layer-rule {
match namespace="^noctalia-wallpaper$"
place-within-backdrop true
}
layer-rule {
match namespace=r#"^noctalia-(bar-[^"]+|notification|dock|panel|attached-panel|osd)$"#
background-effect {
  blur false
  xray false
}
 }

// Floating Window Rules //

window-rule {
    match app-id="Oklch Color Picker"
    open-floating true
    //default-floating-position x=500 y=0 relative-to="bottom"
    default-column-width { fixed 600; }
    default-window-height { fixed 360; }
}

window-rule {
    match app-id="^alatop$"
    //open-on-workspace "scratch"
    open-floating true
    default-floating-position x=20 y=20 relative-to="top-right"
}

window-rule {
    match app-id="^wezscratch$"
    //open-on-workspace "scratch"
    open-floating true
    default-floating-position x=20 y=20 relative-to="top-left"
    default-column-width { fixed 970; }
    default-window-height { fixed 500; }
    background-effect {
      blur true
      xray false
    }
}

//window-rule {
//    match app-id="^wezvim$"
//    open-on-workspace "scratch"
//    open-floating true
//    default-floating-position x=0 y=32 relative-to="top"
//    default-column-width { fixed 1200; }
//    default-window-height { fixed 720; }
//}

window-rule {
    match app-id="^kitty-scratch$"
    open-floating true
    default-column-width { fixed 1400; }
    default-window-height { fixed 900; }
}


window-rule {
    match app-id="^kitty-scratchpad$"
    open-on-workspace "scratch"
    open-floating true
    default-column-width { fixed 600; }
    default-window-height { fixed 400; }
}

window-rule {
    match app-id="^Spotify|easyeffects$"
    open-on-workspace "scratch"
    open-floating true
    default-column-width { fixed 1420; }
    default-window-height { fixed 800; }
}

window-rule {
    match app-id="^kittyquake$"
    open-floating true
    default-floating-position x=20 y=20 relative-to="top-left"
    default-column-width { fixed 940; }
    default-window-height { fixed 540; }
    background-effect {
      blur true
      xray false
    }
  }


window-rule {
  match app-id="^dropterm.st$"
  open-floating true
  //focus-ring { off;}
  background-effect {
    blur false
    xray false
  }
}

window-rule {
  match app-id="^dropterm.nvim$"
  open-floating true
}

window-rule {
  match app-id="^droptop$"
  open-floating true
  focus-ring { off; }
  border {
    on
    active-color "#1f142f"
    inactive-color "#1e1e1e"
  }
}

layer-rule {
  match namespace="^launcher$"
  background-effect {
    blur true
    xray false
  }
}
