workspace "desktop" {}
workspace "secondary" {}
workspace "scratch" {}
window-rule {
    match title="Keybinds"
    open-floating true
}
//window-rule {
//    match app-id="kitty-quick-access"
//    open-floating true
//    default-floating-position x=0 y=0 relative-to="top-left"
//    // You can also adjust width and height here if desired
//}
//window-rule {
//    match app-id="kitty-quick-access"
//    open-floating true
//    default-column-width { fixed 1000; }
//    default-window-height { fixed 600; }
//}

window-rule {
    match app-id="^alacritty-scratch$"
    open-floating true
    default-floating-position x=20 y=20 relative-to="top-left"
    default-column-width { fixed 970; }
    default-window-height { fixed 500; }
    background-effect {
      blur true
      xray true
    }
}

window-rule {
    match app-id="scratchpad-s"
    open-floating true
    default-floating-position x=0 y=32 relative-to="top"
    default-column-width { fixed 1200; }
    default-window-height { fixed 720; }
}

window-rule {
    match app-id="^kitty-scratch$"
    open-floating true
    default-column-width { fixed 1400; }
    default-window-height { fixed 900; }


}

window-rule {
  match app-id="kitty-quick-access"
  open-floating true
}
//window-rule {
//    match app-id="scratchpad"
//
//    // Force the window to open floating
//    open-floating true
//
//    // Set default dimensions (width x height in percentage or pixels)
//    default-column-width { proportion 0.8; }
//    default-window-height { proportion 0.7; }
//}





window-rule {
    match app-id="^kitty-scratchpad$"
    open-floating true
    default-column-width { fixed 600; }
    default-window-height { fixed 400; }
}
window-rule {
    match app-id="^Spotify|easyeffects$"
    open-floating true
    default-column-width { fixed 1420; }
    default-window-height { fixed 800; }
}

window-rule {
    match app-id="^floorp$"  // check exact app-id with `niri msg windows`
    background-effect {
      blur true
      xray true
    }// or whatever the actual blur property name is — check current docs
}

window-rule {
    match app-id="^Alacritty$"
    background-effect {
      blur true
      xray true
    }
}

window-rule {
    match app-id="Oklch Color Picker"
    open-floating true
    //default-floating-position x=500 y=0 relative-to="bottom"
    default-column-width { fixed 600; }
    default-window-height { fixed 360; }
}

window-rule {
    match app-id="^alatop$"
    open-floating true
    default-floating-position x=20 y=20 relative-to="top-right"
    background-effect {
      blur true
      xray true
    }
}
